

*{
    margin: 0;
    padding: 0;
    
    /* width: 1512px; */
    /* box-sizing: border-box; */
}
.container{
    width: 1512px;
    /* height: 3973px; */
    /* text-align: center */
    display: block;
    margin: 0 auto;
    background-color: #F5F5F5;
    font-family: 'Manrope', sans-serif;
    /* position: absolute; */
}

nav{
    display: flex;
    /* text-align: center; */
    justify-content: space-between
}
.logo1{
    padding-left: 104px;
    padding-top: 56px;
    padding-bottom: 56px;

}
.log li{
    padding-top: 54px;
    padding-bottom: 54px;
}
/* nav,.logo,.log{
    padding-top: 54px;
    padding-left: 6px;
    padding-right: 8px;
    padding-bottom: 54px;
} */

.log{
    list-style-type: none; 
}

.log,li{
    display: inline-block;
    /* padding: 10px 25px; */
}

.section1{
    text-align: center;
    margin-top: 64px;
}
.section1 h1{
    font-size: 64px;
    font-weight: 800;
    line-height: 87.42px;
}
.section1 p{
    margin-top: 32px;
    font-size: 24px;
    font-weight: 500;
    line-height: 43.2px;
    color:  #373737;

    
}

.btn9{
    background-color:#6FC247;
    color: #FFFF;
    padding: 24px 40px 24px 40px;
    border-radius: 16px;
    border: 1px solid #6FC247;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 104px;
}



.btn1{
    background-color:#6FC247;
    color: #FFFF;
    padding: 24px 40px 24px 40px;
    margin-top: 32px;
    height: 75px;
    width: 278px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 1px solid #6FC247;
    margin-right: 10px;


}
.btn11{
    padding-left: 20px;
    /* padding-top: 7px;
    padding-bottom: 4px; */
    height: 16px;
width: 16px;
left: 4px;
top: 4px;
/* border-radius: 39px; */
color: #FFFFFF;

}

.btn2{
background-color: #f5f5f5;
    color: #6FC247;

    height: 75px;
    width: 278px;
    left: 310px;
    top: 0px;
    border-radius: 16px;
    border: 1px solid #6FC247;
    padding: 24px 40px 24px 40px;

}

.img11{
    text-align: center;
    margin-top: 64px;
    /* position: absolute; */
    height: 637px;
    width: 1260px;
left: 126px;
top: 705px;


}

.vectbtn{
    background-color: #6FC247;
    color: #FFFF;
}

.description{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 115px 0px 115px;
    
}
.description h2{
    font-weight: 800;
    font-size: 32px;
    color: #373737;

}
.description p{
    font-weight: 500;
    font-size: 20px;
    color: #373737;
    padding-top: 16px;

}
span{
    text-align: center;
}

.imgsection{
    /* border: 1px solid green; */
        display: grid;
        grid-template-columns: auto auto auto auto;
        /* column-gap: 18px; */
        gap: 18px;
        margin-top: 32px;
        margin-left: 115px;
        margin-right: 115px; 
}

.img5{
    /* border: 1px solid red; */
    background: #F9F9F9;
    width: 307px;
    height: 117px;

 }

.img51{
    padding-left: 48.06px;
    padding-right: 48.06px;

 }
 .img52{
    
    padding-left: 48.06px;
    padding-right: 48.06px;
    

 }
 .img53{
    padding: 29px 35px ;
    
 }
 .img54{
    padding: 0px 48px 0px 48.12px;
    
 }
 .img55{
    
    padding: 18px 76px 19px 77px; 
    position: relative;
    top: -18px; 
     
 }
 /* .img56a{
    position: absolute;
    height: 50px;
    width: 230px;
    left: 38px;
    top: 34px;
    border-radius: 0px;

} */

 .img56{
    padding: 34px 38px 33px 39px; 
 }
 

 .img57{
    padding: 41px 54px 42px 54px;
    position: relative;
    top: -41px;
 }

 .img58{
    padding: 14px 67.29px 13px 68.29px;
     }

 .img59{
    padding: 18px 76px 19px 77px;
 }

 .img60{
    padding: 18px 76px 19px 77px;
 }

 .img61{
    padding: 18px 76px 19px 77px;
}
 .img62{
    padding: 55px 39px 56px 40px;
    position: relative;
    top: -55px;
    
 }


.div1{
    /* text-align: center; */
    background-color: black;
    color: white;
    margin-top: 119px;
}

.class11{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 72px  103px 72px 103px;
    /* margin: 5px; */

}


.class11 h2{
     
    font-weight: 800;
    font-size: 40px;
}

.class11 p{
    
    font-weight: 500;
    font-size: 20px;
    color: #D7D7D7;

}
.word10{
    padding-right: 85px;
}

.word{
    font-size: 20px;
    font-weight: 500;
    /* height: 936px; */
}
.word11{
    padding: 73px 32px 32px 32px;
    
}

.word12{
    padding: 73px 32px 32px 32px;
}

.word13{
    padding: 73px 32px 32px 32px;
}

.info1{
    display: flex;
    padding-top: 64px;
    gap: 50px;

}
.info{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    padding: 8px;
    /* align-items: center; */
}
.pict{
    height: 770px; 
    width: 731px;
    /* padding: 80px 678px 173px 102px;  */
    /* padding-top: 80px; */
    /* padding-bottom: 173px; */
} 
.btn6{
    /* margin-top: 20px; */
    /* text-align: center;  */
    display: block;
    margin:  auto; 
    /* padding: 100px; */
    background-color:#6FC247;
    color: #FFFF;
    padding: 24px 40px 24px 40px;
    border-radius: 16px;
    border: 1px solid #6FC247;
    /* justify-content: center;  */
}
.btn5{
    margin-top: 64px; 
    margin-bottom: 34px;
}
